<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>6.表单与v-model</title>
</head>
<body>
	<div id="app">
		<p>输入框</p>
		<input type="text" v-model="message">
		输入的内容是: {{ message }}
	</div>

	<div id="app2">
		<p>单选框</p>
		<input type="radio" :checked="picked">
		<label>单选按钮</label>
	</div>

	<div id="app3">
		<p>单选框(互斥)</p>
		<input type="radio" v-model="picked" value="html" id="html">
		<label for="html">html</label>

		<input type="radio" v-model="picked" value="js" id="js">
		<label for="js">js</label>

		<input type="radio" v-model="picked" value="css" id="css">
		<label for="css">css</label>

		<p>选择的项是: {{ picked }}</p>
	</div>

	<div id="app4">
		<p>复选框</p>
		<input type="checkbox" v-model="checked" value="html" id="html">
		<label for="html">html</label>

		<input type="checkbox" v-model="checked" value="js" id="js">
		<label for="js">js</label>

		<input type="checkbox" v-model="checked" value="css" id="css">
		<label for="css">css</label>

		<p>选择的项是: {{ checked }}</p>
	</div>

	<div id="app5">
		<p>下拉选择器(单选)</p>
		<select v-model="selected">
			<option>html</option>
			<option value="js">JavaScript</option>
			<option>css</option>
		</select>
		<p>选择的项是: {{ selected }}</p>
	</div>

	<div id="app6">
		<p>下拉选择器(动态绑定)</p>
		<select v-model="selected">
			<option v-for="option in options" :value="option.value">{{ option.text }}</option>
		</select>
		<p>选择的项是: {{ selected }}</p>
	</div>

	<div id="app7">
		<input type="radio" v-model="picked" :value="value">
		<label>单选框(动态绑定)</label>
		<p>{{ picked }}</p>
		<p>{{ value }}</p>
	</div>

	<div id="app8">
		<input type="checkbox" v-model="toggle" :true-value="value1" :false-value="value2">
		<label>复选框</label>
		<p>{{ toggle }}</p>
		<p>{{ value1 }}</p>
		<p>{{ value2 }}</p>
	</div>


	<div id="app9">
		<p>=====修饰符======</p>
		<ul>
			<li>
				<p>.lazy(失去焦点或者按回车才会触发这个事件)</p>
				<input type="text" v-model.lazy="message">
				输入的内容是: {{ message }}
			</li>

			<li>
				<p>.trim(自动去除首尾空格)</p>
				<input type="text" v-model.trim="message2">
				输入的内容是: {{ message2 }}
			</li>
		</ul>
	</div>

	<script type="text/javascript" src="https://unpkg.com/vue@2.5.16/dist/vue.min.js"></script>

	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				message: ''
			}
		})

		new Vue({
			el: '#app2',
			data: {
				picked: false
			}
		})

		new Vue({
			el: '#app3',
			data: {
				picked: 'css'
			}
		})

		new Vue({
			el: '#app4',
			data: {
				checked: ['css', 'js']
			}
		})

		new Vue({
			el: '#app5',
			data: {
				selected: 'css'
			}
		})

		new Vue({
			el: '#app6',
			data: {
				options: [
					{
						text: 'HTML',
						value: 'html'
					},
					{
						text: 'JavaScript',
						value: 'js'
					},
					{
						text: 'CSS',
						value: 'css'
					}
				],
				selected: ['js']
			}
		})

		new Vue({
			el: '#app7',
			data: {
				picked: 456,
				value: 123
			}
		})

		new Vue({
			el: '#app8',
			data: {
				toggle: 'css',
				value1: 'css',
				value2: 'js',
			}
		})

		new Vue({
			el: '#app9',
			data: {
				message: '',
				message2: ''
			}
		})
	</script>
</body>
</html>